:root {
  --darkColor: 0, 0%, 5%;
  --lightColor: 0, 0%, 95%;
  --accentColor: 39, 87% ,59%;

  --passwordWidth: 40dvw;
  --settingsWidth: 60dvw;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  overscroll-behavior: none;
}

body {
  margin: 0;

  color: hsl(var(--lightColor));
  background-color: hsl(var(--darkColor));
}

button {
  all: unset;
  box-sizing: border-box;
}
